@import url(https://fonts.googleapis.com/css?family=Alkatra:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    box-sizing: border-box;

}


body {
    font-family: Montserrat;
    margin: 0;
}

/* Navbar */

.section-title {
    color: #2ddf5c;
    font-family: inherit;
    text-align: center;
}

.main-header {
    width: 100%;
    background-color: #2ddf5c;
    padding: 8px 16px;
}

.main-header>div {
    display: inline-block;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    vertical-align: middle;
}


.main-nav__item {
    display: inline-block;
    margin: 0 16px;
    font-weight: bold;
}

.main-nav {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    width: calc(100% - 74px);
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item a {
    color: #0e4f1f;
    text-decoration: none;

}

/* .main-nav__item  a::after{
    content: "{link}";
    color: #ff1b68;
} */

.main-nav__item a:hover,
.main-nav__item a:active {
    color: aliceblue;
    border-bottom: white 5px solid;
    padding: 3px 0;
}

/* p::first-letter{
    color: red;
    font-size: 300px;
} */

.main-nav__item--cta a {
    color: white;
    background-color: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #ff1b68;
    background-color: aliceblue;
    border: none;
    padding: 8px 16px;
}

/* Footer */
#footer{
    background-color: black;
    color: white;
    padding: 32px;
    margin-top: 48px;
}
.footer__items{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.footer__item{
    display: inline-block;
    margin: 0 16px;
}

.footer__item a{
    color: aliceblue;
    text-decoration: none;
}

.footer__item a:hover,
.footer__item a:active{
    color: #ccc;
}

/* Buttons */

.button {
    background: #0e4f1f;
    color: aliceblue;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background-color: aliceblue;
    color: #0e4f1f;

}

.button:focus {
    outline: none;
}
