main{
    padding-top: 64px;
}

 /* Background */
.background{
    background-image: url(../images/plans-background.jpg);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;

}
/* clear fix */
.clear-fix{
    clear: both;
}
/* plans */
.plan{
    border: 4px solid #0e4f1f;
    border-left: none;
    display: inline-block;
    width: 80%;
    margin: 16px 0;
}

.plan:hover,
.plan:active{
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border-color: #ff5454;
}

.plan a{
    text-decoration: none;
    display: block;
    padding: 32px;
}
.plan a .badge{
    color:aliceblue;
    background-color: #ff5454;
    position: relative;
    left: 1000px;
    top: -70px;
    font-size: 12px;
    padding: 15px;
    width: 12%;
    
} 

.plan a h1{
    color: black;
    padding-left:16px ;
}

.plan a h2{
    color: rgb(151, 151, 151);
    padding-left:16px ;

} 

.plan a p{
    padding: 16px;
    border: 1px solid #0e4f1f;
    font-size: 20px;
    color: #0e4f1f;
    background-color: white;
    

}

.plus{
    background-color: rgba(213,255,220,0.95);
}

.free{
    background-color: rgba(234,252,237,0.95);
    float: right;
    border-right: none;
    border-left: 4px solid #0e4f1f;
    text-align: right;
}

.premium{
    background-color: rgba(14,79,31,0.95);
}

.premium a h1{
    color: aliceblue;
}

.premium a h2{
    color: #bbb;
}


